<mat-toolbar color="primary">
  <button mat-icon-button
          routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Tools - SHA-1</span>
</mat-toolbar>

<mat-card class="card-66">
  <mat-card-content>
    <p>Introduce un texto</p>
    <mat-form-field class="full-width">
      <span matPrefix>
        <mat-icon>create</mat-icon>
        &nbsp;
      </span>
      <input matInput
             [(ngModel)]="text"
             placeholder="Texto a encriptar">
    </mat-form-field>
    <p>Hash SHA1 del texto</p>
    <p>Texto cifrado: <strong *ngIf="text">{{ text | sha1 }}</strong></p>
  </mat-card-content>
</mat-card>